$border-radius: 10px;

app-users-menu {
    &.users-menu {
        border: 1px solid black;
        border-radius: $border-radius;
        background-color: rgb(232, 232, 232);
    }
}

.header-wrapper {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    padding: 2px;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(200, 200, 200);
    border-radius: $border-radius;

    &__logout {
        border-radius: 10px;
        height: 25px;
    }
}

.search-users {
    display: flex;
    align-items: center;
    border-bottom: 1px dashed black;

    &__clear {
        margin: 5px;
        cursor: pointer;
        display: flex;
    }

    [contentEditable='true']:empty:not(:focus):before {
        content: attr(data-text);
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        width: 100%;
    }

    &__input {
        background: rgba(2, 2, 50, 0.2);

        margin: 10px;
        max-height: 100px;
        overflow-y: auto;
        border-radius: 10px;
        text-align: right;
        border: 1px solid black;
        padding: 10px;
        flex-grow: 1;

        &:empty {
            opacity: 0.7;
        }
    }

    [contenteditable='true'].search-users__input {
        white-space: nowrap;
        overflow: hidden;
    }
    [contenteditable='true'].search-users__input br {
        display: none;
    }
    [contenteditable='true'].search-users__input * {
        //display:inline;
        white-space: nowrap;
    }
}
