:host(.chat-input) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(200, 200, 200, 0.9);
    border: 1px solid black;
    border-radius: 10px;
    height: -webkit-fill-available;

    [contentEditable='true']:empty:not(:focus):before {
        content: attr(data-text);
    }
}

.message-input {
    background: rgba(2, 2, 50, 0.2);

    width: 70%;
    margin: 10px 0 10px 10px;
    max-height: 100px;
    overflow-y: auto;
    border-radius: 10px;
    text-align: right;
    border: 1px solid black;
    padding: 10px;
    &:empty {
        opacity: 0.7;
    }
}

.send-icon {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 20px;
}
