<ng-template [ngIf]="isVideoTabVisible | async">
    <div id="video" class="panel-wrapper">
        <div class="control-icons-wrapper">
            <app-drag-and-drop
                id="dragAndDropIcon"
                class="control-icons-wrapper__control-icon"
            ></app-drag-and-drop>
            <app-screen-size
                class="control-icons-wrapper__control-icon"
                (isMinimizedChange)="minimizeVideo($event)"
            ></app-screen-size>
        </div>
        <app-video-tab
            class="panel-wrapper__local-video"
            [muted]="true"
            [stream]="mediaService.localStreamSubject | async"
        ></app-video-tab>
        <app-video-tab
            class="panel-wrapper__remote-video"
            [stream]="
                mediaService.remoteStreamsMap.get(chatService.uIdn())
            "
        ></app-video-tab>
        <div class="control-buttons-wrapper">
            <app-telephone
                class="control-buttons-wrapper__control"
                [active]="false"
                (click)="endCall()"
            ></app-telephone>
            <app-microphone
                [active]="!(mediaService.audioOnObservable | async)"
                class="control-buttons-wrapper__control"
                (click)="mediaService.turnAudio()"
            ></app-microphone>
            <app-camera
                class="control-buttons-wrapper__control"
                [active]="!(mediaService.cameraOnObservable | async)"
                (click)="mediaService.turnCamera()"
            ></app-camera>
        </div>
    </div>
</ng-template>
