.panel-wrapper {
    position: fixed;
    width: 75vw;
    height: 75vh;
    z-index: 1;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;

    &__local-video {
        position: absolute;
        z-index: 11;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        width: 25%;
        height: 25%;
        right: 0;
    }

    &__remote-video {
        height: 100%;
    }
}

.control-icons-wrapper {
    display: flex;
    position: absolute;
    z-index: 1;

    &__control-icon {
        width: 20px;
        height: 20px;
    }
}
.control-buttons-wrapper {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
    padding: 15px;

    &__control {
        width: 50px;
        height: 50px;
        display: block;
    }

    &__control:not(:last-child) {
        margin-right: 10px;
    }
}
